.window{
    width: 300px;
    overflow: hidden;
}

.images{
    display: flex;
    align-items: flex-start;
    transition: all 0.5s;
}

#buttons span{
    cursor: pointer;
}

.red{
    color:red;
}